.App {
  text-align: center;
}

.Content {
  position: relative;
  width: 100%;
}

.LogoStyle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.SideBar {
  float: left;
  width: 40%;
}

.ShowBar {
  float: right;
  width: 60%;
}

div.show {
  width: 100%;
  height: 80px;
  text-align: center;
  border: 1px solid #e7e7e7;
  background: #e7e7e7;
  border-style: solid;
  margin-top: 2px;
  transition-duration: 0.4s;
}

div.show:hover {
  border-color: #ffffff;
  background: #ffffff;
}


div.buttons {
    width: 100%;
    text-align: center;
}

img.thumbnail {
    height: 100%;
    
}

button.button {
    display:inline-block;
    background-color: white;
    color: black;
    border: 1px solid #e7e7e7;
    transition-duration: 0.4s;
}

button.button:hover {
    background-color: #e7e7e7;
}

button.button:focus {
    outline:0;
}