.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Content {
  position: relative;
  width: 100%;
}

.LogoStyle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.SideBar {
  float: left;
  width: 40%;
}

.ShowBar {
  float: right;
  width: 60%;
}

div.buttons {
    width: 100%;
    text-align: center;
}

button.button {
    display:inline-block;
    background-color: white;
    color: black;
    border: 1px solid #e7e7e7;
    transition-duration: 0.4s;
}

button.button:hover {
    background-color: #e7e7e7;
}

button.button:focus {
    outline:0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
