.App {
  text-align: center;
}

.Content {
  position: relative;
  width: 100%;
}

.LogoStyle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.SideBar {
  position: fixed;
  float: left;
  width: 40%;
}

.ShowBar {
  position: relative;
  float: right;
  width: 60%;
}

div.buttons {
  width: 100%;
  text-align: center;
}

button.button {
    display:inline-block;
    background-color: white;
    color: black;
    border: 1px solid #e7e7e7;
    transition-duration: 0.4s;
}

button.button:hover {
    background-color: #e7e7e7;
}

button.button:focus {
    outline:0;
}