div.showDivider {
    width: 100%;
    height: 5px;
    background: #ffffff;
}

div.showContent {
    width: 100%;
    height: 100%;
}

div.thumbnailBox {
  height: 70px;
  width: 70px;
  float: left;
}

img.thumbnail {
  height: 60px;
  width: 60px;
  padding: 5px;
}

div.showName {
  float: left;
  text-align: top;
}

p.showNameText {
  font-family: Verdana;
  font-size: 20;
}

div.show {
  width: 100%;
  height: 70px;
  border: 1px solid #e7e7e7;
  background: #ffffff;
  border-style: solid;
  transition-duration: 0.4s;
}

div.show:hover {
  border-color: #ffffff;
  background: #e7e7e7;
}